/* Heading Styling */
h1 {
    color: white;
    background-color: #1e293b; /* dark shade */
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}

/* Paragraph Styling */
p {
    font-size: 16px;
    line-height: 1.6;
    background-color: #334155;
    color: white;
    padding: 20px;       /* inside spacing */
    margin: 20px;        /* outside spacing */
    border: 1.5px solid #0f172a; /* border */
}

